.canvas {
  border-style: solid;
  border-width: 4px;
  border-color: rgb(29, 41, 58);
  background-color: whitesmoke;
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.panel{
  background-color: silver;
  position: relative;
  width: 350px;
  height: 250px;
  padding-bottom: 10px;
}
.panelHeader{
  background-color:dimgrey;
  font-size: 22px;
  font-style: normal;
  color: whitesmoke;
  padding: 10px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
}
.box{
  border-style: solid;
  border-width: 2px;
  border-color: rgb(29, 41, 58);
  background-color: whitesmoke;
  padding: 5px;
}
.contextButton{
  margin: 0px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 0px;
}
h1 {
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color:rgb(29, 41, 58)
}
h3 {
  margin: 5px;
  text-align: center;
}
p {
  text-align: center;
  margin: auto;
}
body, html {
  background-color: silver;
}
* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-style: bold;
  color:rgb(29, 41, 58);
}
button {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(29, 41, 58);
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px rgb(91, 91, 91);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 5px;
  margin-bottom: 5px;
}
select {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(29, 41, 58);
  box-shadow: 3px 3px 3px rgb(91, 91, 91);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: whitesmoke;
  margin-top: 5px;
  margin-bottom: 5px;
}