.canvas {
  border-style: solid;
  border-width: 4px;
  border-color: rgb(29, 41, 58);
  background-color: whitesmoke;
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.panel{
  position: relative;
  background-color: aqua;
  width: 300px;
  height: 200px;
}
.panelHeader{
  background-color:dimgrey;
  color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin: auto;
  text-align: center;
}
h1 {
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color:rgb(29, 41, 58)
}
h3 {
  padding: 10px;
  margin: auto;
}
body, html {
  background-color: silver;
}
* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-style: bold;
  color:rgb(29, 41, 58);
}
button {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(29, 41, 58);
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px rgb(91, 91, 91);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 10px;
}
select {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(29, 41, 58);
  box-shadow: 3px 3px 3px rgb(91, 91, 91);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: whitesmoke;
  margin-top: 10px;
}